*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    padding: 25px;
    font-size:3em;
}
h1:hover{
    color: rgba(1, 50, 50, 0.95);
    font-size:3.1em;
}
#input{
    display: flex;
    justify-content: center;
    font-weight: bold;
    gap: 1em;
    font-size: 2em;
    padding-bottom: 25px;
    flex-wrap: wrap;
}
#input:hover{
    color: rgba(21, 0, 21);
    font-size: 2.1em;
}
#angle{
border: 3px solid black;
text-align: center;
font-weight: bold;
font-size: 1em;
border-radius: 10px;
}
button{
font-size: 1.5em;
padding: 5px 10px;
font-weight: bold;
background-color: rgba(255, 140, 0, 0.4);
}
button:hover{
    background-color: rgba(255, 140, 0, 0.6);
    border-radius: 10px;
    transition: all ease-in-out 0.25s 0s;
}
button:active{
    background-color: rgba(255, 140, 0, 0.8);
    border-radius: 10px;
}
#result{
    font-size: 1.5em;
    padding: 15px;
    font-weight: bold;
}
